.chooseName {
    width: 500px;
}
.level {
    display:block;
    margin-bottom:10px;
}
.select {
    width: 100%;
    margin-top: 10px;
}
.select:focus {
}
.name {
    display:block;
    margin-bottom:10px;
}
.label {
    color:#777;
    display:block;
    font-size:13px;
}
.input {
    margin-top: 10px;
    width: 100%;
}
.input:focus {
    outline:none;
}
