.sudoku{
    padding:0 15px;
    height: 100vh;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.game {
    position: relative;
}

.gameContainer {
    position: relative;
    display: block;
}